<div>
  <% form_tag(:action => 'take_login') do %>
    <p>Choose a username: <br />
      <input type="text" name="username" value="" id="username" />
    </p>

    <p><input type="submit" value="Continue &rarr;"></p>
  <% end %>
</div>