<html>
  <head>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, :juggernaut %>
    <%= juggernaut :host => request.host, :debug => false %>
  </head>
  <body>
      <%= yield %>
      
      <p><a href="/concept/index.html">Flash Concept</a></p>
  </body>
</html>